venv/
linux/
MYREADME.md
.env

samples/
__pycache__/
data_old/
temp_files/
.env_copy

data*

hausa_yoruba_ife/

yoruba_ife/
yoruba_seun/
check.py
rough.py
convert_tsv_to_excel.py
delete_on_blob.py
google_upload_to_db.py
drive_client.py
account.json
push_to_db_local_sheets.py

list_folder_on_s3.py

list_folder_on_s3.py
list_on_blob.py

ai4gov2.pem
insert_dataset.sql

neon_clean_dump.sql

data/
websock.py


src/**/*.pyc
app.log

docker compose down --remove-orphans
docker compose up -d --build



*.pynn.env.rough
